.dashHeader {

    margin: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;;

    button {
        margin: 0;
    }

}

.dashboard {
    height: 100vh;

    ul {
        width: 100%;
    }

    li {
        
    }
}