.dashHeader {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    margin: 0;
  }
}

.dashboard {
  height: 100vh;

  ul {
    width: 100%;
    margin: 30px 0;
  }

  li {
    border: 1px solid black;
    display: flex;
    margin: 5px 0;

    button {
      margin: 0;
      padding: 0;
    }
  }

  p {
    width: calc(100% / 9);
    text-align: center;
  }
}
