html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  cursor: url(../Assets/Cursors/cursorBlue20.png) 8 8, auto;
}

button,
input[type="submit"],
a {
  cursor: url(../Assets/Cursors/cursorBlue20.png) 8 8, auto;
}

// .sectionThree {
//   li {
//     cursor: url(../Assets/Cursors/cursorDownBlue.png) 0 70, auto;
//   }
// }

// Backgrounds

$background: white;
$background2: #fcf0ec;
$background3: #efeeff;

// Primary Colors

$colorOne: #0000cc;
$colorOneLight: rgba(0, 0, 204, 0.2);
$colorTwo: #ff99cc;
$colorTwoLight: rgba(255, 153, 204, 0.6);
$colorThree: #434343;

// Secondary Colors

$colorFour: #99ffcc;
$colorFourLight: #99ffcc64;
$colorFive: #6666ff;

html {
  font-size: 125%;
  background-color: $background;
  color: $colorOne;
}

h1,
h2,
h3,
h4,
p,
a,
li,
span,
em {
  &::selection {
    background-color: $colorTwo;
  }
}

body,
h1,
h2,
button,
p,
a,
img {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  &:visited {
    color: $colorOne;
  }
}

.wrapper {
  width: 80%;
  max-width: 1020px;
  margin: 0 auto;
}

img {
  width: 100%;
}

.cursor {
  
  position: fixed;
  // z-index: 21;
  // background-color: $colorTwo;

  border-radius: 50%;
}

// .cursor1 {

//   width: 14px;
//   height: 14px;
//     background-color: $colorTwo;

//   // border: 1px solid $colorTwo;
//   transition-duration: 180ms;
//   transition-timing-function: ease-out;
// }

.cursor2 {

  width: 18px;
  height: 18px;
    background-color: $colorTwoLight;

  // border: 1px solid $colorFour;
  transition-duration: 150ms;
  transition-timing-function: ease-out;
}

button,
input[type="submit"] {
  margin-top: 40px;
  background-color: $colorOne;
  text-align: center;
  font-size: 0.7rem;
  padding: 12px 20px;
  border-radius: 30px;
  width: 160px;
  color: $background;
}

.App {
  min-width: 320px;
}

.cursorDownContainer {
  position: absolute;
  width: 80px;
  bottom: 5vh;
  left: calc(50% - 40px);
}

@media (max-width: 500px) {
  .wrapper {
    width: 84%;
  }
}
