// $background: #fff4e9;
$background: #fcf0ec;

// Primary Colors

$colorOne: #0000cc;
$colorTwo: #ff99cc;
$colorThree: #434343;

// Secondary Colors

$colorFour: #99ffcc;
$colorFive: #6666ff;

html {
  font-size: 125%;
  background-color: $background;
  color: $colorOne;
}

h1,
h2,
h3,
h4,
p,
a,
li,
span,
em {
  &::selection {
    background-color: $colorTwo;
  }
}

body,
h1,
h2,
button,
p,
a,
img {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  &:visited {
    color: $colorOne;
  }
}

.wrapper {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}

img {
  width: 100%;
}

button,
input[type="submit"] {
  margin-top: 40px;
  background-color: $colorOne;
  text-align: center;
  font-size: 0.8rem;
  padding: 12px 20px;
  border: 1px solid $colorOne;
  border-radius: 30px;
  width: 160px;
  color: $background;
}

.App {
  min-width: 320px;
}

.floatingPoints {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // z-index: -1000;
}

.circle1 {
  // height: 50px;
  // width: 50px;
  position: absolute;
  font-size: 2rem;
  // background-color: $colorTwo;
  bottom: 0;
  left: 6%;
  animation: float1 10s linear infinite;
  // z-index: -1000;
  border-radius: 50%;
}

.circle2 {
  // height: 20px;
  // width: 20px;
  position: absolute;
  // background-color: $colorTwo;
  bottom: 0;
  right: 5%;
  animation: float2 15s linear infinite;
  // z-index: -1000;
  border-radius: 50%
}

@keyframes float1 {
  from {
    transform: translateY(0px) rotate(0);
  }
  to {
    transform: translateY(-105vh) rotate(90deg);
  }
}

@keyframes float2 {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-105vh)  rotate(-90deg);
  }
}

@media (max-width: 500px) {
  .wrapper {
    width: 84%;
  }
}
