.topBarContainer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 7vh;
  background-image: linear-gradient($background, rgba(255,244,233,0));
  z-index: 80;
}

.topBar {
  position: fixed;
  z-index: 100;
  left: 10%;
  right: 10%;
  top: 2vh;

  margin: 0 auto;
  max-width: 1280px;

  display: flex;
  align-items: center;
}

.mainNav {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  ul {
    display: flex;
  }

  li {
    text-align: center;
    font-size: 0.7rem;
    margin-left: 2vw;

    .contactLink,
    .logIn {
      display: block;
      text-align: center;
      font-size: 0.75rem;
      padding: 15px 20px;
      border-radius: 30px;
    }

    .logIn {
      border: 1px solid $colorOne;

      width: 120px;
    }
  }
}

.sideNav {
  display: flex;
  justify-content: center;

  position: fixed;
  left: 0%;
  width: 10%;
  top: calc(50% - 200px);

  ul {
    padding: 2px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    position: relative;
    width: 20px;
  }

  li {
    border-radius: 50%;
  }

  .dot {
    width: 6px;
    height: 6px;
    margin: 5px;
    border-radius: 50%;
    background-color: $colorOne;
  }

  .circle {
    height: 20px;
    width: 20px;
    border: 1px solid $colorOne;
    // background-color: $colorOne;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  $distance: 126.7px;
  $distance2: 253.4px;
  $distance3: 380.1px;

  .circle12 {
    animation: circle12 0.1s linear 1 forwards;
  }

  @keyframes circle12 {
    from {
      top: 0;
    }
    to {
      top: $distance;
    }
  }

  .circle23 {
    animation: circle23 0.1s linear 1 forwards;
  }

  @keyframes circle23 {
    from {
      top: $distance;
    }
    to {
      top: $distance2;
    }
  }

  .circle34 {
    animation: circle34 0.1s linear 1 forwards;
  }

  @keyframes circle34 {
    from {
      top: $distance2;
    }
    to {
      top: $distance3;
    }
  }

  .circle21 {
    animation: circle21 0.1s linear 1 forwards;
  }

  @keyframes circle21 {
    from {
      top: $distance;
    }
    to {
      top: 0;
    }
  }

  .circle32 {
    animation: circle32 0.1s linear 1 forwards;
  }

  @keyframes circle32 {
    from {
      top: $distance2;
    }
    to {
      top: $distance;
    }
  }

  .circle43 {
    animation: circle43 0.1s linear 1 forwards;
  }

  @keyframes circle43 {
    from {
      top: $distance3;
    }
    to {
      top: $distance2;
    }
  }
}
