.sectionOne {
  height: calc(100vh - 100px);
  margin-top: 3vh;
  display: flex;

  .sectionOneLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 330px);

    .logoBox {
      width: 220px;
      margin-bottom: 50px;
    }

    h1 {
      padding-bottom: 50px;
      border-bottom: 1px solid $colorOne;
      span {
        display: block;
      }
    }

    p {
      margin: 40px 0;
      width: calc(100% - 100px);
    }
  }

  .sectionOneRight {
    display: flex;
    align-items: flex-end;
    width: 300px;

    img {
      width: 410px;
      position: relative;
      bottom: -70px;
      left: -30px;
    }
  }
}

.borderOne,
.borderTwo,
.borderThree,
.borderFour,
.borderFive {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  z-index: -10;
}

.sectionTwo,
.sectionTwoBottom {
  position: relative;

  .borderOne {
    left: -5%;
    right: 50%;
    top: 0;
    bottom: 0;

    border-top: 20px solid $colorTwo;
    border-left: 20px solid $colorTwo;
    border-bottom: 20px solid $colorTwo;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
  }

  .borderTwo {
    left: 50%;
    right: 28%;
    top: 0;
    bottom: 0;

    border-top: 20px dotted $colorTwo;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    width: 50%;
    padding: 0;
  }

  figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h3 {
    margin-bottom: 30px;
  }

  p:first-of-type {
    margin-bottom: 20px;
    font-size: 0.8rem;
  }

  p:last-of-type {
    font-size: 0.8rem;
    font-weight: 500;
  }

  .numBox {
    p {
      font-weight: 300;
      font-size: 1.5rem;
      position: relative;
      left: -20px;
      border-radius: 50%;
      line-height: 1;
    }
  }
}

.sectionTwo {

  padding: 15vh 0;

  figure {
    padding: 10vh 10% 0 20%;
    display: flex;
  }

  figure.even {
    padding: 10vh 20% 0 10%;
  }
}

.sectionTwoBottom {
  padding: 15vh 0;

  .borderThree {
    left: 50%;
    right: -5%;
    top: -20px;
    bottom: 0;

    border-top: 20px dotted $colorTwo;
    border-right: 20px dotted $colorTwo;
    border-bottom: 20px dotted $colorTwo;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
  }

  figure {
    padding: 0 10% 0 20%;
    display: flex;
  }

  figure.even {
    padding: 0 20% 0 10%;
  }
}

.sectionThree {
  padding: 15vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  .borderFour {
    left: -5%;
    right: 50%;
    top: -20px;
    bottom: 0;
    border-top: 20px solid $colorTwo;
    border-left: 20px solid $colorTwo;
    border-bottom: 20px solid $colorTwo;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
  }

  ul {
    margin-top: 3vh;
    display: flex;
    justify-content: space-evenly;
  }

  li {
    width: 25%;
    display: flex;
    justify-content: center;
  }

  figure {
    text-align: center;
  }

  h3 {
    font-size: 1rem;
    padding-bottom: 20px;
  }

  p {
    font-size: 0.8rem;
  }

  .stuImg {
    padding: 0 20%;
    margin-bottom: 3vh;
    margin-top: 2vh;
  }
}

.contact {
  padding: 15vh 0;
  position: relative;

  .borderFive {
    right: -5%;
    left: 50%;
    top: -20px;
    bottom: -300px;
    border-top: 20px dotted $colorTwo;
    border-right: 20px dotted $colorTwo;
    border-top-right-radius: 80px;
  }
}

.formAsideBox {
  display: flex;
  align-items: center;
  margin-top: 5vh;
  justify-content: center;
}

.formBox {
  width: 100%;
  display: flex;
  justify-content: center;
}

form {
  width: 70%;

  .upperForm {
    display: flex;
    flex-direction: column;
  }

  .formName,
  .formEmail,
  .formSchool,
  .formProgram,
  .formLength,
  .formCost,
  .formStudents,
  .formComment {
    margin: 20px 0;
    background-color: $background;
    padding: 10px;

    color: $colorOne;
    font-size: 0.8rem;
    font-family: $primaryFont;

    &::placeholder {
      color: $colorThree;
      font-size: 0.8rem;
      font-family: $primaryFont;
    }
  }

  .formName,
  .formEmail,
  .formSchool,
  .formProgram,
  .formCost,
  .formLength,
  .formStudents {
    border: none;
    border-bottom: 1px solid $colorOne;
  }

  .nameEmail {
    display: flex;
    justify-content: space-between;
  }

  .formName,
  .formEmail {
    width: 48%;
  }

  .numberBox {
    display: flex;
    justify-content: space-between;
  }

  .formCost,
  .formLength,
  .formStudents {
    width: 32%;
  }

  textarea {
    width: 100%;
    min-height: 200px;
    border: 1px solid $colorOne;
    resize: none;
  }

  input[type="submit"] {
    margin-top: 20px;
    width: 120px;
  }
}

// aside {
//   border: 1px solid $colorOne;
//   padding: 35px 25px;
//   position: relative;
//   background-color: $background;
//   left: -15px;

//   width: 350px;

//   &::after {
//     content: "";
//     position: absolute;
//     height: 100%;
//     width: 100%;
//     left: 15px;
//     top: 15px;
//     background-color: $colorOne;
//     border: 1px solid $colorOne;
//     z-index: -1;
//   }

//   .numberBox {
//     display: flex;
//     justify-content: center;
//   }

//   h2 {
//     font-size: 1.5rem;
//     font-weight: bold;
//     display: inline-block;
//     border-bottom: 1px solid $colorOne;
//     padding-bottom: 5px;
//   }

//   ul {
//     margin: 20px 0;
//   }

//   li {
//     text-align: center;
//     padding: 4%;
//   }

//   h3 {
//     font-size: 1.2rem;
//     margin-bottom: 10px;
//   }

//   p {
//     text-align: center;
//     font-size: 0.7rem;
//   }

//   .punchLine {
//     font-weight: bold;
//   }
// }
