.sectionOne {
  height: 100vh;
  // border: 1px solid red;
}
.sectionTwo,
.sectionThree,
.contact {
  // min-height: 90vh;
  // border: 1px solid red;
}

.landingPage {
  position: relative;
}

.borderOne,
.borderTwo,
.borderThree,
.borderFour,
.borderFive,
.borderSix, .circleEnd {
  position: absolute;
  z-index: -10;
}

.sectionOne {
  margin-top: 3vh;
  display: flex;
  position: relative;

  .imgBox {
    position: absolute;
    bottom: 10vh;
    right: -10%;
    width: 450px;
  }

  button {
    margin-top: 2vh;
  }

  .sectionOneLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(80%);

    .titleBox {
      position: relative;
    }

    h1 {
      padding-bottom: 50px;
      span {
        display: block;
      }
    }

    .borderSix {
      top: 0;
      left: 0;
      right: 200px;
      bottom: 0;
      border-bottom: 1px solid $colorOne;
    }

    p {
      margin: 40px 0;
      width: calc(100% - 200px);
    }
  }
}

.sectionTwoUpper,
.sectionTwoBottom {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .borderOne {
    left: 0;
    right: 50%;
    top: -15vh;
    bottom: 0;

    border-top: 20px solid $colorTwo;
    border-left: 20px solid $colorTwo;
    border-bottom: 20px solid $colorTwo;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
  }

  .borderTwo {
    left: 50%;
    right: 28%;
    top: -15vh;
    bottom: 0;

    border-top: 20px dotted $colorTwo;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    width: 50%;
    padding: 0;
  }

  figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h3 {
    margin-bottom: 30px;
  }

  p:first-of-type {
    margin-bottom: 20px;
    font-size: 0.8rem;
  }

  .numBox {
    p {
      font-weight: 300;
      font-size: 1.5rem;
      position: relative;
      left: -20px;
      border-radius: 50%;
      line-height: 1;
    }
  }
}

.sectionTwoUpper {
  padding: 4.5vh 0 8vh 0;

  figure {
    padding: 8vh 10% 0 20%;
    display: flex;
  }

  figure.even {
    padding: 8vh 20% 0 10%;
  }
}

.sectionTwoBottom {
  padding: 8vh 0;

  .borderThree {
    left: 50%;
    right: 0;
    top: -20px;
    bottom: 0;

    border-top: 20px dotted $colorTwo;
    border-right: 20px dotted $colorTwo;
    border-bottom: 20px dotted $colorTwo;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
  }

  figure {
    padding: 0 10% 0 20%;
    display: flex;
  }

  figure.even {
    padding: 0 20% 0 10%;
  }
}

.sectionThree {
  padding: 8vh 0 calc(8vh + 20px) 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .borderFour {
    left: 0;
    right: 50%;
    top: -20px;
    bottom: 0;
    border-top: 20px solid $colorTwo;
    border-left: 20px solid $colorTwo;
    border-bottom: 20px solid $colorTwo;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
  }

  ul {
    margin: 6vh 0;
    display: flex;
    justify-content: space-evenly;
  }

  li {
    width: 25%;
    display: flex;
    justify-content: center;
  }

  figure {
    text-align: center;
  }

  h3 {
    font-size: 1rem;
    padding-bottom: 20px;
  }

  p {
    font-size: 0.8rem;
  }

  .stuImg {
    padding: 0 15%;
    margin-bottom: 3vh;
    margin-top: 2vh;
  }
}

.contact {
  height: 85vh;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .borderFive {
    right: 0;
    left: 70%;
    top: -20px;
    bottom: 72vh;
    border-top: 20px solid $colorTwo;
    border-right: 20px solid $colorTwo;
    border-bottom: 20px solid $colorTwo;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
  }

  .borderSix {
    right: 30%;
    left: 50%;
    top: -20px;
    bottom: 72vh;
    border-top: 20px solid $colorTwo;
  }

  .circleEnd {
    width: 20px;
    height: 20px;
    // color: $colorTwo;
    background-color: $colorTwo;
    border-radius: 50%;
    position: absolute;
    bottom: 72vh;
    right: calc(30% - 10px);
  }
}

.formAsideBox {
  display: flex;
  align-items: center;
  // margin-top: 5vh;
  justify-content: center;
}

.formBox {
  width: 70%;
  display: flex;
}

form {
  width: 88%;

  .upperForm {
    display: flex;
    flex-direction: column;
  }

  .formName,
  .formEmail,
  .formSchool,
  .formProgram,
  .formLength,
  .formCost,
  .formStudents,
  .formComment {
    
    background-color: $background;
    padding: 10px;
    font-size: 0.8rem;
    font-family: $primaryFont;

    &::placeholder {
      font-size: 0.8rem;
      font-family: $primaryFont;
    }
  }

  .formName,
  .formEmail,
  .formSchool,
  .formProgram,
  .formCost,
  .formLength,
  .formStudents {
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid $colorOne;
  }

  .formComment {
    margin: 20px 0;
  }

  .nameEmail,
  .schoolProgram {
    display: flex;
    justify-content: space-between;
  }

  .formName,
  .formEmail,
  .formProgram,
  .formSchool {
    width: 48%;
  }

  .numberBox {
    display: flex;
    justify-content: space-between;
  }

  .formCost,
  .formLength,
  .formStudents {
    width: 32%;
  }

  textarea {
    width: 100%;
    min-height: 200px;
    border: 1px solid $colorOne;
    resize: none;
  }

  input[type="submit"] {
    margin-top: 20px;
    width: 120px;
  }
}

aside {
  border: 1px solid $colorOne;
  padding: 1% 4%;
  position: relative;
  background-color: $background;
  right: 10px;
  height: 100%;

  width: calc(30% + 20px);

  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 10px;
    top: 10px;
    background-color: $colorOne;
    border: 1px solid $colorOne;
    z-index: -1;
  }

  .numberBox {
    display: flex;
    justify-content: center;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-block;
    border-bottom: 1px solid $colorOne;
    padding-bottom: 5px;
  }

  .factList {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    // padding: 5%;
  }

  li {
    text-align: center;
    // padding: 4%;
  }

  h3 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  p {
    text-align: center;
    font-size: 0.7rem;
    // font-weight: 500;
    
  }

  .motto {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    // p {
      // border-bottom: 1px solid $colorOne;
    // }
  }
}
