@font-face {
    font-family: 'Avenir';
    src: url('Avenir-Black.woff2') format('woff2'),
        url('Avenir-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Book';
    src: url('Avenir-Book.woff2') format('woff2'),
        url('Avenir-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('Avenir-Medium.woff2') format('woff2'),
        url('Avenir-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('Avenir-Heavy.woff2') format('woff2'),
        url('Avenir-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

